<div class="container jumbotron">
    <h1>Книжный!</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis incidunt repellendus consequatur. Accusantium, ipsum fugit. Vel asperiores vitae quaerat quibusdam tempore ipsam eos sapiente, quam commodi ducimus repudiandae doloremque suscipit.</p>
    <img src="../../assets/images/title.jpg"/>
    <h4>Наш адрес: ул. Победы 35а</h4>
    <h4>Контакты:</h4>
    <ul>
        <li>МТС: +375336467667</li>
        <li>Velcom: +375448974823</li>
        <li>Life:) :+375253454323</li>
        <li>Городской: +375173003013</li>
    </ul>
</div>