<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Книжный!</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a (click)="goToMain()" class="nav-link">Главная</a>
      </li>
      <li class="nav-item">
        <a (click)="goToCatalog()" class="nav-link">Каталог</a>
      </li>
      <li class="nav-item">
        <a (click)="goToCart()" class="nav-link">Корзина</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>